body {
margin: 0;
padding: 0;
color: #666666;
font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
line-height: 1.4;
background-color: #000;
}

ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

a {
	outline: none;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
.wrapper {
background-color: #f9f9f9;
width: 100%;
}

.container {
width: 1200px;
background: #f9f9f9;
margin: 0 auto;
padding-bottom: 100px;
}

.content {
padding: 10px 0;
}

#logo {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
#header {
	height: 80px;
	border-bottom: 1px solid #666666;
}
#columnLeft {
	float: left;
	width: 234px;
	margin-right: 0;
}
#columnRight {
	margin-left: 234px;
}
.home #columnRight {
	margin-bottom: -20px;
}
#menu {
	list-style-type: none;
	padding-top: 23px;
	margin-left: 144px;
}
#menu li {
	float: left;
	height: 40px;
	padding-top: 4px;
	color: white;
	padding-left: 5px;
	margin-right: 35px;
	margin-left: 35px;
}
#menu li.divline {
	padding: 0;
	border-right: thin solid gray;
	height: 8px;
	margin: 26px 0 0;
}
